<div class="listings-item">
    <h3><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h3>
    <p>{{ listing.description|slice:":100" }}</p>
    {% if listing.image_src %}
        <img src="{{ listing.image_src }}" alt="Listing Image">
    {% endif %}
    <p>{{ listing.start_amount }}</p>
    <p>{{ listing.post_date }}</p>

    <form action="{% url 'watchlist' listing.id %}" method="post">
        {% csrf_token %}
        {% if request.user not in listing.wishlisted_by.all %}
            <input type="submit" value="Add to Watchlist" name="auction_id">
        {% else %}
            <input type="submit" value="Remove from Watchlist" name="auction_id">
        {% endif %}
    </form>
</div>