{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }}
{% endblock %}

{% block body %}
    {% if not listing.is_active %}
        <h2>Listing is not active anymore!</h2>
        {% if listing.winner %}
            <p>Победитель аукциона: <strong>{{ listing.winner.username }}</strong>!</p>
        {% else %}
            <p>No winner!</p>
        {% endif %}
    {% endif %}

    <div class="article-container">
        <div class="article-main">
            <div class="article-image">
                {% if listing.image_src %}
                    <img src="{{ listing.image_src }}" class="full-page-listing-img">
                {% endif %}
            </div>
            <div class="article-description">
                <h2>{{ listing.title }}</h2>
                <span><strong>Category:</strong> {{ listing.category }}</span>
                <span><strong>Description:</strong> {{ listing.description }}</span>
                <span><strong>Start amount:</strong> {{ listing.start_amount }}</span>
            </div>
        </div>
        <details class="bids-section">
            <summary>Bids</summary>
            <div class="bids-container">
                {% for bid in bids %}
                    <p>Amount: {{ bid.amount }}. Created by: {{ bid.created_by }} </p>
                {% empty %}
                    <p>There're no bids for now. Be the first!</p>
                {% endfor %}
                {% if listing.is_active %}
                    <form action="{% url 'bid' listing.id %}" method="post">
                        {% csrf_token %}
                        {{ bid_form }}
                        <input type="submit">
                    </form>
                {% endif %}
            </div>
        </details>

        <details class="comments-section">
            <summary>Comments</summary>
            <div class="comments-container">
                {% if comments %}
                    {% for comment in comments %}
                        <div class="comments-item">
                            <p>{{ comment.content }}</p>
                            <p>{{ comment.created_by.username }}</p>
                            <p>{{ comment.post_date }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>There're no comments. Show your opinion first!</p>
                {% endif %}
            </div>

            {% if listing.is_active %}
            <form action="{% url 'comment' listing.id %}" method="post">
                {% csrf_token %}
                {{ comment_form }}
                <input type="submit">
            </form>
        {% endif %}
        </details>
        <div class="created-details">
            <span>Created by: {{ listing.created_by }}</span>
            <small>{{ listing.post_date }}</small>
        </div>
    </div>

    {% if listing.created_by == request.user and listing.is_active %}
        <form action="{% url 'close' listing.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Close listing">
        </form>
    {% endif %}
{% endblock %}

