{% extends "auctions/layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        <div class="login-form">
            {% csrf_token %}
            <div class="login-form-item textform">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username" autocomplete="off">
            </div>
            <div class="login-form-item textform">
                <input class="form-control" type="email" name="email" placeholder="Email Address" autocomplete="off">
            </div>
            <div class="login-form-item textform">
                <input class="form-control" type="password" name="password" placeholder="Password" autocomplete="off">
            </div>
            <div class="login-form-item textform">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" autocomplete="off">
            </div>
            <div class="login-form-item">
                <input class="btn btn-primary" type="submit" value="Register">
            </div>
            <div class="login-form-item">
                <span>Already have an account?</span>
                <a href="{% url 'login' %}">Log In here.</a>
            </div>
        </div>
    </form>



{% endblock %}